<div class="Post" *ngFor="let item of posts">
    <div class='PostOptions'>
        <div class="PostUser">
            <img class="Profileimg"
                [src]="item.profilePicture ? serverPublic + item.profilePicture : serverPublic + 'avatar.png'" />

            <p><b>{{item.firstname}} {{item.lastname}}</b></p>
        </div>
        <div class='opps'>
            <span class='saveoptions'>
                saved</span>
            <p>Post optons</p>
        </div>
    </div>
    <div class='Discription'>
        <span>{{item.desc}}</span>
    </div>
    <img class="postImage" [src]="item.image ? serverPublic + item.image : '' " alt="" />

    <div class="PostReact">
        <div class='PostReact'>
            <img class="PostIcon" (click)="handleLike(item)" [src]="item.liked ? liked :unLike" alt="Like/Unlike" />
            <span class="likeandcomment">{{ item.likedNumber }} Likes</span>
            <img class="PostIcon" [src]="comment" alt="Comment" />
            <span class="likeandcomment">Comments</span>
        </div>
    </div>

</div>