<div class="Post" *ngFor="let item of posts">
    <div class='PostOptions'>
        <div class="PostUser" *ngIf="!location">
            <img class="Profileimg"
                [src]="item.userDetails.profilePicture? serverPublic + item.userDetails.profilePicture :serverPublic + 'avatar.png' " />

            <p><b>{{item.userDetails?item.userDetails.firstname:''}}
                    {{item.userDetails?item.userDetails.lastname:''}}</b></p>
        </div>
        <div class="PostUser" *ngIf="location">
            <img class="Profileimg"
                [src]="item.profilePicture? serverPublic + item.profilePicture :serverPublic + 'avatar.png' " />

            <p><b>{{item.firstname?item.firstname:''}} {{item.lastname?item.lastname:''}}</b></p>
        </div>
        <div class='opps' *ngIf="item.savedusers.includes(userId)">
            <span (click)="handleSave(item._id)" class='saveoptions'>
                saved</span>
        </div>
        <div class='opps' *ngIf="!item.savedusers.includes(userId)">
            <fa-icon (click)="handleSave(item._id)" [icon]="bookMark"></fa-icon>
        </div>
    </div>
    <div class='Discription'>
        <span>{{item.desc}}</span>
    </div>
    <img class="postImage" [src]="item.image ? serverPublic + item.image : '' " alt="" />

    <div class="PostReact">
        <div class='PostReact'>
            <img class="PostIcon" (click)="handleLike(item)" [src]="item.liked ? liked :unLike" alt="Like/Unlike" />
            <span class="likeAndComment">{{ item.likedNumber }} Likes</span>
            <img class="PostIcon" [src]="comment" alt="Comment" (click)="handleShow(item._id)" />
            <span class="likeAndComment" (click)="handleShow(item._id)">{{item.comments.length}} Comments</span>
        </div>
    </div>
    <ng-container *ngIf="show === item._id">
        <app-comment [postId]="item._id" (commentAdded)="handleCommentAdded()"></app-comment>
    </ng-container>
</div>