<div class='loginPage'>
    <div class="box">
       
        <form class="form" [formGroup]="loginSchema" (ngSubmit)="onSubmit()">
            <h2 class="heading">SocialME</h2>
            <div class="inputBox">
                <input required="required" type="text" class="infoInput" formControlName="email" id="email" />
                <i></i>
                <ng-container *ngIf="f.email.errors?.['required']; else validEmail">
                    <span class="form-error">Email is required.</span>
                </ng-container>
                <ng-template #validEmail>
                    <span class="form-error" *ngIf="f.email.errors?.['email']">Invalid email format.</span>
                    <span *ngIf="!f.email.errors?.['email']">User Name</span>
                </ng-template>
            </div>
            <div class="inputBox">
                <input type="password" required="required" class="infoInput" formControlName="password" id="password" />
                <i></i>
                <ng-container *ngIf="f.password.errors?.['required']; else validPassword">
                    <span class="form-error">{{ f.password.errors?.['minlength'] ? 'Invalid password' : 'Password is required.' }}</span>
                </ng-container>
                <ng-template #validPassword>
                    <span class="form-error" *ngIf="f.password.errors?.['minlength']">Invalid password</span>
                    <span *ngIf="!f.password.errors?.['minlength']">Password</span>
                </ng-template>
            </div>
            <div class="links">
                <a>Forgot Password</a>
            </div>
            <button type='submit' class='loginBtn'>Login</button>
            <div class="parent">
                <p class="size">Don't have an account<b><span class="sign" routerLink="/user/signup"> SignUp </span></b>Now..
                </p>
            </div>
        </form>
    </div>
</div>