<div class='PostShare'>
    <div class="postInput">
        <img class="share" [src]="profileImage" alt="">
        <input type="text" placeholder="What's Happening" />
    </div>
    <div class='allItems'>
        <div class="postOptions">
            <div class='option'>
                <fa-icon class="optionA" [icon]="image"></fa-icon>
                Photo
            </div>
            <div class='option'>
                <fa-icon class="optionB" [icon]="video"></fa-icon>
                Video
            </div>
            <div class='option'>
                <fa-icon class="optionC" [icon]="location"></fa-icon>
                Location
            </div>

            <button class='custom-button'>share
            </button>
           
        </div>
    </div>
</div>