<div class="ProfileCard">
    <div class="ProfileImages">
        <img class='coverImages' [src]="user.coverPicture ? serverPublic + user.coverPicture :coverImage " />
        <div class="userProfile">
            <div>
                <img class="profilesImages"
                    [src]="user.profilePicture?serverPublic + user.profilePicture :serverPublic + 'avatar.png'"
                    alt="" />
            </div>
            <div class="editIcons">
                <fa-icon [icon]="Edit"></fa-icon>
            </div>
        </div>
        <!--  -->
    </div>
    <div *ngIf="loggedUser !== customUser">
        <button class='custom-button'>
            Message
        </button>
    </div>
    <div class="ProfileName">
        <span>{{user.firstname}} {{user.lastname}}</span>
    </div>

    <div>
        <div class="profileDetails" *ngIf="user.livesIn">
            <p>Status : <b>{{user.relationship}}</b></p>
            <p> Works At : <b>{{user.worksAt}}</b></p>
            <p>livesIn : <b>{{user.livesIn}}</b></p>

        </div>
        <div *ngIf="loggedUser !== customUser">
            <button class="custom-button" (click)="handleFollow(customUser)" >
                Follow or unFollow
            </button>
        </div>
    </div>
    <div class="followStatus">
        <div class="follow">
            <span>{{user.following.length}}</span>
            <span>Following</span>
        </div>
        <div class="vl"></div>
        <div class="follow">
            <span>{{user.followers.length}}</span>
            <span>Followers</span>
        </div>

        <div class="vl">
        </div>
        <div class="follow">
            <span>{{user.allPosts.length}}</span>
            <span>Posts</span>
        </div>
    </div>
</div>